venv/*
airflow.db
src/logs/

airflow-scheduler.err
airflow-scheduler.log
airflow-scheduler.pid
airflow-scheduler.out

airflow-webserver.err
airflow-webserver.log
airflow-webserver.pid
airflow-webserver.out
airflow-webserver-monitor.pid

